﻿@model Awesome_website.Models.DomoticaVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Domotica - Huisbesturing";
}

@if (!string.IsNullOrEmpty(Model.Error))
{
    <div class="row">
        <div class="col s6 m12">
            <div class="card materialize-red">
                <div class="card-content white-text">
                    <span class="card-title">@Model.Error</span>
                </div>
                <div class="card-action">
                    <a href="@Url.Action("Index")" class="btn blue" style="margin: 6px;">
                        <span class="fa fa-refresh"></span>
                        Probeer opnieuw
                    </a>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col s6 m6">
        <div class="card">

            <div class="card-content Lamps">
                <h4 class="card-title text-center"><strong>Lamps</strong></h4>
                
                @for (int lampIndex = 0; lampIndex < Model.LampStatus.Length; lampIndex++)
                {
                    <div class="checkbox">
                        <label>
                            Lamp @lampIndex
                            <br/>

                            <input type="checkbox" data-id="@lampIndex" class="lamp"  @if (Model.LampStatus[lampIndex])
                                                                                                            {
                                                                                                                <text>checked</text>
                                                                                                            } />

                        </label>
                    </div>
                    <br/>
                }
            </div>
        </div>
    </div>
    <div class="col s6 m6">
        <div class="card">
            
            <div class="card-content Windows">
                <h4 class="card-title text-center"><strong>Shutters</strong></h4>

                @for (int windowIndex = 0; windowIndex < Model.WindowStatus.Length; windowIndex++)
                {
                    <div class="checkbox">
                        <label>
                            Shutter @windowIndex
                            <br/>

                            <input type="checkbox" data-id="@windowIndex" class="window" @if (Model.WindowStatus[windowIndex])
                                                                                         {
                                                                                             <text>checked</text>
                                                                                         }>
                        </label>
                    </div>
                    <br/>
                }


            </div>
        </div>
    </div>
    <div class="col s6 m6" style="margin-top: 20px;">
        <div class="card">
            <div class="card-body">
                <div class="card-content">
                    <h4 class="card-title text-center"><strong>Heater temperature</strong></h4>
                    
                    <div class="form-group">
                        <p class="range-field">
                            <input type="range" class="heater" min="12" max="35" step="0.1" value="@Model.HeaterTemperature" />
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/bootstrap-toggle.min.js"></script>
    
    <script>

        var LAMP_URL = "@Url.Action("SetLamp")";
        var WINDOW_URL = "@Url.Action("SetWindow")";
        var HEATER_URL = "@Url.Action("SetTemperature")";

        $(function() {
            $('.lamp').bootstrapToggle({
                on: 'Aan',
                off: 'Uit'
            });

            $('.window').bootstrapToggle({
                on: 'Omhoog',
                off: 'Omlaag'
            });

            $(".range-field span.value").text("@Model.HeaterTemperature.ToString("0.##")");
        });

    </script>

    <script src="~/Scripts/Domotica.js"></script>
    
}

@section Styles{
    <style>
        .checkbox label .toggle, .checkbox-inline .toggle {
            margin-left: 0px !important;
        }
    </style>
    <link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet"/>
}
