﻿body {
    /*
       This breaks the bootstrap navbar
       padding-top: 50px;
    padding-bottom: 20px;*/

    display:inline-block;
    width: 100%;
}

.row {
    margin: 10px auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    width: 90% !important;
    margin-left: 5% !important;
    padding: 1rem 1rem 1rem 1rem;
    max-width: none !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.app-center-card-container {
    display: inline-block;
    height: 600px;
}

.app-center-card-container-big {
    display: inline-block;
    height: 600px;
}

.app-center-card {
    width: 350px;
    float: left;
    margin: 2rem 2rem 2rem 2rem !important;
}
.app-center-card-big {
    width: 500px;
    float: left;
    margin: 2rem 2rem 2rem 2rem !important;
}

body > div.container.body-content > div.app-center-container > div > div > div.app-center-card-big > div.card-image > img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 315px;
}


.app-center-container {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.app-center-app-grid {
    width: 50%;
    height: 50%;
    display: inline-block;
    float: left;
}

.app-center-app-grid-node {
    margin: 2rem 2rem 2rem 2rem;
    float: left;
    border: 1px solid white;
    position: relative;
    text-decoration: none;
}

.app-center-app-grid-node > label {
    text-align: center;
    vertical-align: middle;
    width: 150px;
    height: 150px;
    font-size: 3em;
    display: table-cell;
    color: #c1c1c1;
}

.app-center-app-grid-node:hover > label {
    color: black;
    cursor: pointer;
}

.app-List button {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

.navbar-activation-button {
    width: 75px;
    text-align: center;
}

.Lamps .toggle-on {
    background-color: gold;
}

.Windows .toggle-on {
    background-color: blue;
}

.toggle-off {
    background-color: lightgrey;
}

@media only screen and (max-width: 1050px) {
    .body-content {
        width: 98% !important;
        margin: 1% !important;
    }
    .row {
        width: 100%;
        padding: 0;
        margin: 0 !important;
        text-align: center
    }
    .row > div {
        margin: auto;
    }
    .app-center-card-container {
        height: 100%;
        width: 40%;
        display: inline-block;
        padding-top: 1rem;
        padding-bottom: 1rem;
        max-width: 280px;
    }

    .app-center-card-container-big {
        display: inline-block;
        height: 600px;
    }
    .app-center-card {
        width: Calc( 100% - 4rem );
        float: left;
        margin: 0 2rem 0 2rem !important;
    }

    .app-center-card-big {
        width: 600px;
        float: left;
        margin: 2rem 2rem 2rem 2rem !important;
    }

    body > div.container.body-content > div.app-center-container > div > div > div.app-center-card-big > div.card-image > img {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        min-width: 600px;
        height: 315px;
    }
}


@media only screen and (max-width: 600px) {
    .app-center-card {
        width: Calc( 100% - 1rem );
        float: left;
        margin: 0 0.5rem 0 0.5rem !important;
    }

    .app-center-card-container {
        height: 100%;
        width: 49%;
        display: inline-block;
        padding-top: 1rem;
        padding-bottom: 1rem;
        max-width: 280px;
    }

    .app-center-card-container-big {
        display: inline-block;
        height: 100%;
    }

    .app-center-card-big {
        width: 380px;
        float: left;
        margin: 0 0 1rem 0 !important;
    }

    .body-content {
        width: 100% !important;
        margin: 0 !important;
    }

    .app-center-app-grid-node {
        width: 100%;
        padding: 1rem;
        margin: 0;
    }
    body > div.container.body-content > div.app-center-container > div > div > div.app-center-card-big > div.card-image > img {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        min-width:330px;
        height: 315px;
    }
}
@media only screen and (max-width: 600px) {

    .app-center-card-big {
        width: 100%;
        float: left;
        margin: 0 0 1rem 0 !important;
        overflow: hidden
    }
    .app-center-card-container-big{
        width: 100%;
    }
    body > div.container.body-content > div.app-center-container > div > div > div.app-center-card-big > div.card-image > img {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        min-width: 0;
        height: 315px;
    }
}