﻿@using Awesome_website.Helpers
@model Awesome_website.Models.GameVM
@{
    ViewBag.Title = Model.Title;
}

<div class="game-wrapper">
    
    @Html.Raw(Model.Html)

</div>

@section scripts
{
    @foreach (var script in Model.JsFiles)
    {
        <script src="@PathHelper.RelativePath(script, HttpContext.Current.Request)"></script>
    }
}

@section Styles
{
    @foreach (var style in Model.CssFiles)
    {
        
        <link href="@PathHelper.RelativePath(style, HttpContext.Current.Request)" rel="stylesheet" type="text/css" />
    }
}
