﻿
@{
    ViewBag.Title = "Niet gevonden";
}

<h2>Dit spel is helaas niet gevonden</h2>

<a href="@Url.Action("Index", "Home")" class="btn btn-default">
    <span class="fa fa-arrow-left"></span>
    Terug naar het dashboard
</a>