﻿@model Awesome_website.Models.AppCenter
@{
    ViewBag.Title = "Home Page";
    var gridlayout = Model.getGridLayout();
}

<h1>Awesome website app center</h1>
<!--Start generating the appcenter-->
<div class="app-center-container">

    @for (int i = 0; i < gridlayout.Count(); i++)
    {
        <div class="row">
            @for (int v = 0; v < gridlayout[i].Count(); v++)
                {
                <div class="app-center-card-container@(gridlayout[i][v].name != "default" ? "-big" : "")">
                    <div class="card app-center-card@(gridlayout[i][v].name != "default" ? "-big" : "")">
                        <div class="card-image" @if (@gridlayout[i][v].name != "default") { <text>style="cursor: pointer;" onclick="window.location.href = '@gridlayout[i][v].link'"</text> }>                        
                                <img src="/Media/@(File.Exists(Server.MapPath("~") + "/Media/" + gridlayout[i][v].name + ".jpg") ? gridlayout[i][v].name : "office").jpg">
                                <span class="card-title">@(gridlayout[i][v].name != "default" ? gridlayout[i][v].name : "")</span>                         
                        </div>
                        <div class="card-content">
                            <p>
                                @gridlayout[i][v].description
                            </p>
                        </div>
                        <div class="card-action">
                            @if (gridlayout[i][v].name != "default")
                            {
                                <a class="modal-trigger app-center-app-grid-node" href="@gridlayout[i][v].link">
                                    @gridlayout[i][v].name
                                </a>
                                <a class="modal-trigger app-center-app-grid-node" node-id="@((i*gridlayout[i].Count())+v)" href="#app-selection-modal">
                                    Change item
                                </a>
                            }
                            else
                            {
                                <a class="modal-trigger app-center-app-grid-node" node-id="@((i*gridlayout[i].Count())+v)" href="#app-selection-modal">
                                    Add Item
                                </a>
                            }
                        </div>
                    </div>
                </div>

            }
        </div>
    }
</div>


<!-- Modal Structure -->

<div class="modal bottom-sheet" id="app-selection-modal">
    <div class="modal-dialog modal-ml-xl-auto">

        <div class="modal-content">

            <ul id="tabs-swipe-demo" class="tabs">
                <li class="tab col s3"><a class="active" href="#Websites">Websites</a></li>
                <li class="tab col s3"><a href="#Games">Games</a></li>
            </ul>

            <div id="Websites" class="col s12 white">
                <ul class="collection">
                    @foreach (var websites in Model.GetWebsites())
                    {
                        if (websites.name == "default")
                        {
                            continue;
                        }
                        <li class="collection-item avatar">
                            <img src="images/yuna.jpg" alt="" class="circle">
                            <span class="title">@websites.name</span>
                            <a href="" data-id="@websites.Id" class="secondary-content website-link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        </li>
                    }
                </ul>
            </div>
            <div id="Games" class="col s12 white">
                <ul class="collection">
                    @foreach (var game in Model.GetGames())
                    {
                        <li class="collection-item avatar">
                            <img src="images/yuna.jpg" alt="" class="circle">
                            <span class="title">@game.Title</span>
                            <a href="" data-id="@game.Id" class="secondary-content game-link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script>
        $(function () {
            var lastClickedNode;
                $(".app-center-app-grid-node").click(function () {
                lastClickedNode = $(this).attr('node-id');
            });

                    $(".website-link").click(function (e) {
                e.preventDefault();
                var id = $(this).attr('data-id');
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Add", "Home")',
                    data: {
                        appId: id,
                        isWebsite: true,
                        nodePosition: lastClickedNode,
                    },
                    success: function () {
                        window.location.reload();
                    }
                });
            });

            $(".game-link").click(function (e) {
                e.preventDefault();
                var id = $(this).attr('data-id');
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Add", "Home")',
                    data: {
                        appId: id,
                        isWebsite: false,
                        nodePosition: lastClickedNode,
                    },
                    success: function () {
                        window.location.reload();
                    }
                });
            });


        });
    </script>
}
