﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul id="slide-out" class="side-nav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="/Media/office.jpg">
                </div>
                <a href="#!user" class="circle" style="background: #f4511e; text-align: center; font-size: 2em; line-height: 64px; color: white;">@User.Identity.GetUserName()[0].ToString().ToUpper()</a>
                <a href="#!email"><span class="white-text email">@User.Identity.GetUserName()</span></a>
            </div>
        </li>
        <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
        <li><div class="divider"></div></li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken();
                <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>Logoff</a></li>
            }
        </li>
    </ul>

    <nav>
        <div class="nav-wrapper">
            <ul class="left">
                <li><a href="#" data-activates="slide-out" class="navbar-activation-button"><i class="fa fa-bars"></i></a></li>
            </ul>
        </div>
    </nav>
}
else
{
    <ul id="slide-out" class="side-nav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="/Media/office.jpg">
                </div>
                <a href="" class="circle" style="background: #f4511e; text-align: center; font-size: 2em; line-height: 64px; color: white;">N</a>
                <a href=""><span class="white-text email">Login to use application.</span></a>
            </div>
        </li>
        <li><a href="#!"><i class="fa fa-home" aria-hidden="true"></i>login</a></li>
        </ul>

        <nav>
            <div class="nav-wrapper">
                <ul class="left">
                    <li><a href="#" data-activates="slide-out" class="navbar-activation-button"><i class="fa fa-bars"></i></a></li>
                </ul>
            </div>
        </nav>
}


